table {
    width: 100%;
    border-collapse: collapse;
}
  
tr {
    background-color: #f8f8f8;
}
  
 
td, th {
    padding: 8px; 
    border: 1px solid #dddddd; 
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}
  